.App {
  text-align: center;
  min-height: 100vh;
  background-color: #bdb6c9;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.App-logo-container {
  animation: App-logo-move 2s linear forwards;
}

@keyframes App-logo-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.align-left {
  float: left;
}
